@using IdentityChatEmailNight.Entities
@model AppUser

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-4">
                            <img class="mr-3" src="@Model.ProfileImageUrl" width="80" height="80" style="border-radius:50%" alt="Profile Image">
                            <div class="media-body">
                                <h3 class="mb-0">@Model.Name @Model.Surname</h3>
                                <p class="text-muted mb-0">#@Model.UserName</p>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col">
                                <div class="card card-profile text-center">
                                    <span class="mb-1 text-primary"><i class="icon-people"></i></span>
                                    <h3 class="mb-0">@ViewBag.RecipientEmailAddressCount</h3>
                                    <p class="text-muted px-4">Gelen Mesaj Sayısı</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-profile text-center">
                                    <span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
                                    <h3 class="mb-0">@ViewBag.SenderEmailAddressCount</h3>
                                    <p class="text-muted">Giden Mesaj Sayısı</p>
                                </div>
                            </div>
                        </div>
                        <h4>Bilgilerim</h4>
                        <ul class="card-profile__info">
                            <li><strong class="text-dark mr-4">Email:</strong> <span>@Model.Email</span></li>
                        </ul>
                        <ul class="card-profile__info">
                            <li><strong class="text-dark mr-4">Telefon:</strong> <span>@Model.PhoneNumber</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-9">
                <div class="card">
                    <h4 class="card-title">Profil Bilgilerini Güncelle</h4>
                    <div class="card-body">
                        <form method="post" asp-action="ProfileUpdate" asp-controller="Profile">
                            <div class="form-group">
                                <input type="text" asp-for="ProfileImageUrl" class="form-control input-rounded" placeholder="Profil Resmi URL" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Name" class="form-control input-rounded" placeholder="Adınız" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Surname" class="form-control input-rounded" placeholder="Soyadınız" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="UserName" class="form-control input-rounded" placeholder="Kullanıcı Adınız" />
                            </div>
                            <div class="form-group">
                                <input type="email" asp-for="Email" class="form-control input-rounded" placeholder="E-posta" />
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="PhoneNumber" class="form-control input-rounded" placeholder="Telefon" />
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="PasswordHash" class="form-control input-rounded" placeholder="Yeni Şifre" />
                            </div>
                            <button type="submit" class="btn btn-dark form-control input-rounded">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>